[submodule "Assets/Packages/ObjectVelocityUnity"]
	path = Assets/Packages/ObjectVelocityUnity
	url = https://github.com/nobnak/ObjectVelocityUnity.git
[submodule "Assets/Packages/Gist2"]
	path = Assets/Packages/Gist2
	url = https://github.com/nobnak/Gist2.git
[submodule "Assets/Packages/LLGraphicsUnity"]
	path = Assets/Packages/LLGraphicsUnity
	url = https://github.com/nobnak/LLGraphicsUnity.git
[submodule "Assets/Packages/TextureViewer-Unity"]
	path = Assets/Packages/TextureViewer-Unity
	url = https://github.com/nobnak/TextureViewer-Unity.git
[submodule "Assets/Packages/AffineDecomposition"]
	path = Assets/Packages/AffineDecomposition
	url = https://github.com/nobnak/AffineDecomposition.git
