[submodule "Assets/Packages/ObjectVelocityUnity"]
	path = Assets/Packages/ObjectVelocityUnity
	url = https://github.com/nobnak/ObjectVelocityUnity.git
[submodule "Assets/Packages/Gist2"]
	path = Assets/Packages/Gist2
	url = https://github.com/nobnak/Gist2.git
